.sound-wave-container {
  display: flex;
  gap: 4.5px;
  align-items: center;
  height: 48px;
}

.sound-bar {
  width: 12px;
  min-height: 12px;
  border-radius: 100%;
  background-color: #ffffff;
  transition: height 1s ease;
}
